@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* HIDING CLERK LOGIN/SIGNUP PORTION */
.cl-internal-1dauvpw {
  display: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block; /* Ensures block-level behavior for text elements */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* MODIFY ANTD MODAL STYLES */
.my-modal .ant-modal-content {
  background-color: #1f2937;
  border-radius: 0.7rem; /* Tailwind's rounded-lg */
  padding: 1rem;
}

.my-modal .ant-modal-header {
  display: none; /* Hide default header */
}
.my-modal .ant-modal-close {
  display: none;
}
.ant-input-clear-icon,
.ant-select-arrow {
  color: #d1d5db !important; /* Change clear icon color */
}

/* MAKING THE SUMMARY TEXT LINKS LOOK LIKE ACTUAL URLS */
.recipe-summary a {
  color: #adc4e7; /* Change link color */
  font-weight: 500;
}

/* ADDING CUSTOM RATING STARS COLOURS */
.ant-rate-star-zero .ant-rate-star-first,
.ant-rate-star-zero .ant-rate-star-second {
  color: #374151;
}
.ant-rate-star-half .ant-rate-star-second {
  color: #374151;
}
